*{
    padding: 0;
    margin: 0;
   
}
.doc-info{
    position: absolute;
    width: 1263px;
    height: 4934px;
    overflow-x: hidden;
   
    
}
.navbar-area {
    background: #F9D0D280;
    
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    font-family: 'Cabin';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #D70908;

backdrop-filter: blur(2px);
    padding: 20px;
    
    text-decoration: none;
    
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  .nav-toggler {
    border: 3px solid black;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color:black;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  .arrow{
    padding-top: 50px;
    padding-left: 40px;
  }
  .pic{
    
width: 302px;
height: 305px;


  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
/* identical to box height */

display: flex;
align-items: center;

color: #D70908;

  }
  .desig{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
/* identical to box height */

display: flex;
align-items: center;

color: #D70908;


  }
  .book-btn{
width: 200.33px;
height: 53px;
margin: 40px;
background: #D70908;
border: 2px solid #FFFFFF;
border-radius: 14px;
color: #fff;
  }
  .overview{
    margin: 0 40px;
    
    display: flex;
    
    flex-direction: column;
width: 1000px;
height: 200px;
padding: 0 20px ;  
background: #FBBDC0;
border-radius: 35px;
  }
  .doc-heading{
 
position: relative;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;
display: flex;
align-items: center;

color: #1F1F1F;
  }
.doc-para{
    padding-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
}
.desc{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.map{
    
    background-color: #dacccc;
    width: 1000px;
height: 770px;
}
.mapp{
     margin-top: 40px;
    display: flex;
    justify-content: center;
}