*{
    padding: 0;
    margin: 0;
   
}
.doc-info{
    position: absolute;
    width: 1263px;
    height: 4934px;
    overflow-x: hidden;
   
    
}
.navbar-area {
    background: #F9D0D280;
    
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    font-family: 'Cabin';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #D70908;

backdrop-filter: blur(2px);
    padding: 20px;
    
    text-decoration: none;
    
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  .nav-toggler {
    border: 3px solid black;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color:black;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  .arrow{
    padding-top: 50px;
    padding-left: 40px;
  }
  .pic{
    
width: 302px;
height: 305px;


  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
/* identical to box height */

display: flex;
align-items: center;

color: #D70908;

  }
  .desig{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
/* identical to box height */

display: flex;
align-items: center;

color: #D70908;


  }
  .book-btn{
width: 200.33px;
height: 53px;
margin: 40px;
background: #D70908;
border: 2px solid #FFFFFF;
border-radius: 14px;
color: #fff;
  }
  .overview{
    margin: 0 40px;
    
    display: flex;
    
    flex-direction: column;
width: 1000px;
height: 200px;
padding: 0 20px ;  
background: #FBBDC0;
border-radius: 35px;
  }
  .doc-heading{
 
position: relative;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 61px;
display: flex;
align-items: center;

color: #1F1F1F;
  }
.doc-para{
    padding-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
}
.desc{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.map{
    
    background-color: #dacccc;
    width: 1000px;
height: 770px;
}
.mapp{
     margin-top: 40px;
    display: flex;
    justify-content: center;
}

.links{
  display: block;
  padding: 0px;
  gap: 0px;
  text-align: left;

  position: absolute;
  width: 555px;
  height: 14px;
  left: 85px;
  padding-top: 40px;
  margin-left: 45px;
}

.footer{
width: 1280px;
height: 380px;
margin-top: 65px;

background: rgba(244, 175, 177, 0.5);
border: 0.8px solid #D70908;

flex: none;
order: 0;
flex-grow: 0;
}

.sitemap{
  margin-left: 45px;
}

.horizontal-line{
position: absolute;
width: 370px;
height: 0px;
left: 470px;

border: 2.8px solid #FFF0F2;
backdrop-filter: blur(2px);
transform: rotate(90deg);
margin-top: 90px;
}

.contact-us-end{
width: 599px;
height: 78px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 78px;
display: flex;
align-items: center;
margin-left: 680px;
margin-top: -90px;

color: #1F1F1F;

flex: none;
order: 0;
flex-grow: 0;
}

#message{
display: flex;
flex-direction: column;
padding: 25px 15px;

position: absolute;
width: 450px;
height: 50px;

background: #FFF0F2;
border-radius: 20px;
margin-left: 690px;
margin-top: 12px;
}

#text-email{
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 2px;
margin-left: 690px;
margin-top: 100px;
}

#email{
display: flex;
flex-direction: column;
justify-content: center;
padding: 0px 15px;

width: 440px;
height: 40px;

background: #FFF0F2;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
margin-left: 690px;
margin-top: 8px;
}

.send-btn{
  position: absolute;
  width: 110px;
  height: 35px;
  background: #FFF0F2;
  border-radius: 10px;
  margin-left: 690px;
  margin-top: 8px;
}

#logo-f{
  width: 167px;
  height: 54px;
  margin-left: 45px;
  margin-bottom: 4px;
  margin-top: 30px;
}

.home-f{
  width: 84px;
  height: 20px;
  
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #D70908;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}

.about-us-f{
      width: 114px;
      height: 20px;

      
      font-family: 'Cabin';
      font-style: normal;
      font-weight: 450;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      
      color: #D70908;
      
      flex: none;
      order: 0; 
      margin-bottom: 8px;
  margin-top: 8px;  
}

.help-support-f{
  width: 171px;
height: 20px;

font-family: 'Cabin';
font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 8px;
  margin-top: 8px;

color: #D70908;
flex: none;
order: 2;
flex-grow: 0;
}

.health-support-f{
width: 171px;
height: 24px;

font-family: 'Cabin';
font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 8px;
  margin-top: 8px;

color: #D70908;
flex: none;
order: 2;
flex-grow: 0;
}